<launch>
	<!-- pocketsphinx关键词识别-->
	<arg name="dict" default="/home/lurejewel/catkin_ws/src/receptionist_speech/speech/wakeup/7330.dic" />
	<arg name="kws"  default="/home/lurejewel/catkin_ws/src/receptionist_speech/speech/wakeup/wakeup.kwlist" />

	<include file="$(find pocketsphinx)/launch/kws.launch">
		<arg name="dict" value="$(arg dict)" />
		<arg name="kws"  value="$(arg kws)" />
	</include>

	<!-- 启动科大讯飞识别节点-->
	<node pkg="xfei_asr" type="speech_recognition" name="speech_recognition" launch-prefix="xterm -e" respawn="true" respawn_delay="1" />

	<!--soundplay节点-->
	<node pkg="sound_play" type="soundplay_node.py" name="sound_play" launch-prefix="xterm -e" />

	<!--问题节点-->
	<node pkg="speech" type="speech_answer.py" name="speeech_answer" launch-prefix="xterm -e" />


</launch>
